.btnFacebook {
  width: 96.4%;
  height: 41px;
  border-radius: 4px;
  background: #3b5998;
  color: white;
  border: 0px transparent;
  margin: 5px;
  text-align: justify;
  left: 80;
}
.fblogo {
  right: 100px;
  height: 80px;
}
.btnGoogle {
  margin: 5px;
  width: "99%";
  height: "8%";
  border-radius: 4px;
  /* color: white; */
  background-color: green;
  border: 0px transparent;
  text-align: center;
}
.btnFacebook:hover {
  background: #3b5998;
  opacity: 0.6;
}
.btnGoogle:hover {
  background: #3b5998;
  opacity: 0.6;
}
@media only screen and (max-width: 399px) {
  .btnFacebook,
  .btnGoogle {
    width: 100%;
  }
}
